.container {
    width: calc(100% - 1.875rem) ;
    margin: 0 auto;
    padding: 0.625rem;
}

.d-flex {
    display: flex;
}
.d-block {
    display: block;
}



.d-flex-center {
    display: flex;
    align-items: center;    
}

.f-col {
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}

.jc-c {
    justify-content: center;
}
.jc-sb {
    justify-content: space-between;
}

.ai-c {
    align-items: center;
}

.center {
    margin: 0 auto;
}