.container {
    width: 100%;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
}

.d-flex {
    display: flex;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.f-col {
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}

