.container {
    width: calc(100% - 1.875rem) ;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.d-flex-center {
    display: flex;
    align-items: center;    
}

.f-col {
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}

.jc-c {
    justify-content: center;
}
.jc-sb {
    justify-content: space-between;
}

.ai-c {
    align-items: center;
}