.btn {
    cursor: pointer;
    display: block;
    text-align: center;
    width:190px;
    margin-top: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    border-radius: 12px;
    padding: 22px;
  }

.primary {
    background: var(--color-blue);
    color: var(--color-white);
}

.outlined {
    background: var(--color-white);
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
}

.secondary {
    background: var(--color-green);
    color: var(--color-white);
}