:root {
    --color-blue: #29ABE2;
   --color-green: #20B472;
   --color-light-green: #20B472;
   --color-black: #000000;
    --color-gray: #F5F5F5;
    --color-gray-text: #A2A2A2;
    --color-light-gray: #F1F1F1;
    --color-red: #FF0000;
    --color-light-red: #FF5151;
    --color-white: #FFFFFF;
    --color-orange: #FF8652;
  }