:root {
    --color-blue: #29ABE2;
   --color-green: #20B472;
    --color-gray: #B5B5B5;
    --color-lightGray: #F1F1F1;
    --color-grayText: #A1A1A1;
    --color-red: #FF5151;
    --color-white: #F5F5F5;
    --color-black: #000000;
  }