.input {
    display: block;
    height: 56px;
    background-color: var(--color-lightGray);
    border-radius: 0.75rem !important;
    color: var(--color-grayText);
    padding: 0.9375rem;
    &.login {
      width: 24.188rem;
      border: none;
    }
    &::placeholder {
      color:var(--color-grayText);
    }
}