.ml {
    margin-left: auto;
}
.mr {
    margin-right: auto;
}

.mt-5 {
    margin-top: 0.313rem;
}
.mt-10 {
    margin-top: 0.0.625rem;
}
.mt-15 {
    margin-top: 0.938rem;
}
.mt-20 {
    margin-top: 1.25rem;
}
.mt-25 {
    margin-top: 1.563rem;
}
.mt-30 {
    margin-top: 1.875rem;
}
.mt-35 {
    margin-top: 2.188rem;
}
.mt-40 {
    margin-top: 2.5rem;
}
.mt-45 {
    margin-top: 2.813rem;
}
.mt-50 {
    margin-top: 3.125rem;
}
.mt-55 {
    margin-top: 3.438rem;
}
.mt-60 {
    margin-top: 3.75rem;
}
.mt-65 {
    margin-top: 4.063rem;
}
.mt-70 {
    margin-top: 4.375rem;
}
.mt-75 {
    margin-top: 4.688rem;
}
.mt-80 {
    margin-top: 5rem;
}
.mt-85 {
    margin-top: 5.313rem;
}
.mt-90 {
    margin-top: 5.625rem;
}
.mt-95 {
    margin-top: 5.938rem;
}
.mt-100 {
    margin-top: 6.25rem;
}


.mb-5 {
    margin-bottom: 0.313rem;
}
.mb-10 {
    margin-bottom: 0.0.625rem;
}
.mb-15 {
    margin-bottom: 0.938rem;
}
.mb-20 {
    margin-bottom: 1.25rem;
}
.mb-25 {
    margin-bottom: 1.563rem;
}
.mb-30 {
    margin-bottom: 1.875rem;
}
.mb-35 {
    margin-bottom: 2.188rem;
}
.mb-40 {
    margin-bottom: 2.5rem;
}
.mb-45 {
    margin-bottom: 2.813rem;
}
.mb-50 {
    margin-bottom: 3.125rem;
}
.mb-55 {
    margin-bottom: 3.438rem;
}
.mb-60 {
    margin-bottom: 3.75rem;
}
.mb-65 {
    margin-bottom: 4.063rem;
}
.mb-70 {
    margin-bottom: 4.375rem;
}
.mb-75 {
    margin-bottom: 4.688rem;
}
.mb-80 {
    margin-bottom: 5rem;
}
.mb-85 {
    margin-bottom: 5.313rem;
}
.mb-90 {
    margin-bottom: 5.625rem;
}
.mb-95 {
    margin-bottom: 5.938rem;
}
.mb-100 {
    margin-bottom: 6.25rem;
}

.mr-5 {
    margin-right: 0.313rem;
}
.mr-10 {
    margin-right: 0.0.625rem;
}
.mr-15 {
    margin-right: 0.938rem;
}
.mr-20 {
    margin-right: 1.25rem;
}
.mr-25 {
    margin-right: 1.563rem;
}
.mr-30 {
    margin-right: 1.875rem;
}
.mr-35 {
    margin-right: 2.188rem;
}
.mr-40 {
    margin-right: 2.5rem;
}
.mr-45 {
    margin-right: 2.813rem;
}
.mr-50 {
    margin-right: 3.125rem;
}
.mr-55 {
    margin-right: 3.438rem;
}
.mr-60 {
    margin-right: 3.75rem;
}
.mr-65 {
    margin-right: 4.063rem;
}
.mr-70 {
    margin-right: 4.375rem;
}
.mr-75 {
    margin-right: 4.688rem;
}
.mr-80 {
    margin-right: 5rem;
}
.mr-85 {
    margin-right: 5.313rem;
}
.mr-90 {
    margin-right: 5.625rem;
}
.mr-95 {
    margin-right: 5.938rem;
}
.mr-100 {
    margin-right: 6.25rem;
}

.ml-5 {
    margin-left: 0.313rem;
}
.ml-10 {
    margin-left: 0.0.625rem;
}
.ml-15 {
    margin-left: 0.938rem;
}
.ml-20 {
    margin-left: 1.25rem;
}
.ml-25 {
    margin-left: 1.563rem;
}
.ml-30 {
    margin-left: 1.875rem;
}
.ml-35 {
    margin-left: 2.188rem;
}
.ml-40 {
    margin-left: 2.5rem;
}
.ml-45 {
    margin-left: 2.813rem;
}
.ml-50 {
    margin-left: 3.125rem;
}
.ml-55 {
    margin-left: 3.438rem;
}
.ml-60 {
    margin-left: 3.75rem;
}
.ml-65 {
    margin-left: 4.063rem;
}
.ml-70 {
    margin-left: 4.375rem;
}
.ml-75 {
    margin-left: 4.688rem;
}
.ml-80 {
    margin-left: 5rem;
}
.ml-85 {
    margin-left: 5.313rem;
}
.ml-90 {
    margin-left: 5.625rem;
}
.ml-95 {
    margin-left: 5.938rem;
}
.ml-100 {
    margin-left: 6.25rem;
}




.pt-5 {
    padding-top: 0.313rem;
}
.pt-10 {
    padding-top: 0.0.625rem;
}
.pt-15 {
    padding-top: 0.938rem;
}
.pt-20 {
    padding-top: 1.25rem;
}
.pt-25 {
    padding-top: 1.563rem;
}
.pt-30 {
    padding-top: 1.875rem;
}
.pt-35 {
    padding-top: 2.188rem;
}
.pt-40 {
    padding-top: 2.5rem;
}
.pt-45 {
    padding-top: 2.813rem;
}
.pt-50 {
    padding-top: 3.125rem;
}
.pt-55 {
    padding-top: 3.438rem;
}
.pt-60 {
    padding-top: 3.75rem;
}
.pt-65 {
    padding-top: 4.063rem;
}
.pt-70 {
    padding-top: 4.375rem;
}
.pt-75 {
    padding-top: 4.688rem;
}
.pt-80 {
    padding-top: 5rem;
}
.pt-85 {
    padding-top: 5.313rem;
}
.pt-90 {
    padding-top: 5.625rem;
}
.pt-95 {
    padding-top: 5.938rem;
}
.pt-100 {
    padding-top: 6.25rem;
}


.pb-5 {
    padding-bottom: 0.313rem;
}
.pb-10 {
    padding-bottom: 0.0.625rem;
}
.pb-15 {
    padding-bottom: 0.938rem;
}
.pb-20 {
    padding-bottom: 1.25rem;
}
.pb-25 {
    padding-bottom: 1.563rem;
}
.pb-30 {
    padding-bottom: 1.875rem;
}
.pb-35 {
    padding-bottom: 2.188rem;
}
.pb-40 {
    padding-bottom: 2.5rem;
}
.pb-45 {
    padding-bottom: 2.813rem;
}
.pb-50 {
    padding-bottom: 3.125rem;
}
.pb-55 {
    padding-bottom: 3.438rem;
}
.pb-60 {
    padding-bottom: 3.75rem;
}
.pb-65 {
    padding-bottom: 4.063rem;
}
.pb-70 {
    padding-bottom: 4.375rem;
}
.pb-75 {
    padding-bottom: 4.688rem;
}
.pb-80 {
    padding-bottom: 5rem;
}
.pb-85 {
    padding-bottom: 5.313rem;
}
.pb-90 {
    padding-bottom: 5.625rem;
}
.pb-95 {
    padding-bottom: 5.938rem;
}
.pb-100 {
    padding-bottom: 6.25rem;
}

.pr-5 {
    padding-right: 0.313rem;
}
.pr-10 {
    padding-right: 0.0.625rem;
}
.pr-15 {
    padding-right: 0.938rem;
}
.pr-20 {
    padding-right: 1.25rem;
}
.pr-25 {
    padding-right: 1.563rem;
}
.pr-30 {
    padding-right: 1.875rem;
}
.pr-35 {
    padding-right: 2.188rem;
}
.pr-40 {
    padding-right: 2.5rem;
}
.pr-45 {
    padding-right: 2.813rem;
}
.pr-50 {
    padding-right: 3.125rem;
}
.pr-55 {
    padding-right: 3.438rem;
}
.pr-60 {
    padding-right: 3.75rem;
}
.pr-65 {
    padding-right: 4.063rem;
}
.pr-70 {
    padding-right: 4.375rem;
}
.pr-75 {
    padding-right: 4.688rem;
}
.pr-80 {
    padding-right: 5rem;
}
.pr-85 {
    padding-right: 5.313rem;
}
.pr-90 {
    padding-right: 5.625rem;
}
.pr-95 {
    padding-right: 5.938rem;
}
.pr-100 {
    padding-right: 6.25rem;
}

.pl-5 {
    padding-left: 0.313rem;
}
.pl-10 {
    padding-left: 0.0.625rem;
}
.pl-15 {
    padding-left: 0.938rem;
}
.pl-20 {
    padding-left: 1.25rem;
}
.pl-25 {
    padding-left: 1.563rem;
}
.pl-30 {
    padding-left: 1.875rem;
}
.pl-35 {
    padding-left: 2.188rem;
}
.pl-40 {
    padding-left: 2.5rem;
}
.pl-45 {
    padding-left: 2.813rem;
}
.pl-50 {
    padding-left: 3.125rem;
}
.pl-55 {
    padding-left: 3.438rem;
}
.pl-60 {
    padding-left: 3.75rem;
}
.pl-65 {
    padding-left: 4.063rem;
}
.pl-70 {
    padding-left: 4.375rem;
}
.pl-75 {
    padding-left: 4.688rem;
}
.pl-80 {
    padding-left: 5rem;
}
.pl-85 {
    padding-left: 5.313rem;
}
.pl-90 {
    padding-left: 5.625rem;
}
.pl-95 {
    padding-left: 5.938rem;
}
.pl-100 {
    padding-left: 6.25rem;
}

.w-5 {
    width: 5%;
}
.w-10 {
    width: 10%;
}
.w-15 {
    width: 15%;
}
.w-20 {
    width: 20%;
}
.w-25 {
    width: 25%;
}
.w-30 {
    width: 30%;
}
.w-35 {
    width: 35%;
}
.w-40 {
    width: 40%;
}
.w-45 {
    width: 45%;
}
.w-50 {
    width: 50%;
}
.w-55 {
    width: 55%;
}
.w-60 {
    width: 60%;
}
.w-65 {
    width: 65%;
}
.w-70 {
    width: 70%;
}
.w-75 {
    width: 75%;
}
.w-80 {
    width: 80%;
}
.w-85 {
    width: 85%;
}
.w-90 {
    width: 90%;
}
.w-95 {
    width: 95%;
}
.w-100 {
    width: 100%;
}