.h1 {
    font-size: 7.875rem;
    line-height: 9.5rem;
}

.h2 {
    font-size: 4.688rem;
    line-height: 5.625rem;
}

.h3 {
    font-size: 4rem;
    line-height: 5.188rem;
}

.h4 {
    font-size: 3rem;
    line-height: 12.5rem;
}

.h5 {
    font-size: 1.464rem;
    line-height: 1.625rem;
}

.h6 {
    font-size: 1.125rem;
    line-height: 1.25rem;
}