.input {
    display: block;
    height: 3.5rem !important;
    background-color: var(--color-light-gray);
    border-radius: 0.75rem ;
    color: var(--color-gray-text);
    padding: 0.9375rem;
    &.login {
      width: 24.188rem;
      border: none;
    }
    &::placeholder {
      color:var(--color-gray-text);
    }
    &:focus{
      color: var(--color-blue);
      border: 1px solid var(--color-blue);
    }
    &.error {
      border: 1px solid var(--color-red);
      color: var(--color-red);
    }
}

